<%- include('partials/header'); %>
<div>
  <% if(errorMessage) { %>
    <h4 style="color: red">⚠️<%= errorMessage %></h4>
  <% } %>
  <form method="POST">
    <label for="currentPassword">Current Password</label>
    <input type="password" name="currentPassword" id="currentPassword" required placeholder="Current Password"/>
    <label for="password">New Password</label>
    <input type="password" name="newPassword" id="newPassword" required/>
    <label for="password2">Check New Password</label>
    <input type="password" name="newPassword2" id="newPassword2" required/>
    <button>Change Password</button>
  </form>
</div>

<%- include('partials/footer'); %>
