<%- include('partials/header'); %>
<div>
	<form method="GET">
  <input placeholder="Search by title", name="keyword", type="text" />
  <button>Search now</button>
  </form>

</div>
<%- include('partials/footer'); %>
